#header {
    background-color:#FFA500;
    font-size: 30pt;
    text-align: center;
}

#menu {
    width: 50vh;
    height: 100vh;
    float: left;
}

#content {
    font-size: 14pt;
    float:left;
}

#text {
    width: 100vh;
}

#footer {
    background-color:#FFA500;
    clear:both;
    text-align:center;
}